HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
log/blog-dev.log.2019-12-16.0.gz
log/blog-dev.log.2019-12-17.089888282517800.tmp
log/blog-dev.log.2019-12-18.0.gz
log/blog-dev.log.2019-12-19.0.gz
log/blog-dev.log.2019-12-20.0.gz
log/blog-dev.log.2019-12-24.0.gz
log/blog-dev.log.2019-12-25.0.gz
log/blog-dev.log.2019-12-27.0.gz
